{% extends 'feedapp/base.html' %}
{% load humanize %} <!-- at the top after extends -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% block title %}Home{% endblock %}
{% block main_title %}Public Feed{% endblock %}
{% block sub_title %}Leave a message for everyone to see!{% endblock %}
{% block content %}
    <AmpContent>
<form method="POST">
  <article class="media">
    <div class="media-content">
      <div class="field">
        <p class="control">
          {% csrf_token %}
          <div class="field has-addons">
            <div class="control is-expanded">
              {{ form.text }}
            </div>
            <div class="control">
              <button class="button is-info">Submit</button>
            </div>
          </div>
        </p>
      </div>
    </div>
{#        <AmpContent>#}
{#    <div class="media-right">#}
{#      <a href="{% url 'delete_post' post.id %}" class="delete"></a>#}
{#    </div>#}
{##}
{#</AmpContent>#}
  </article>
</form>
</AmpContent>

    <AmpContent>
  {% for post in posts %}
    <article class="media mt-5">
      <div class="media-content">
        <div class="content">
          <p>
            <strong>{{ post.user.first_name }} {{ post.user.last_name }}</strong>
            <small>{{ post.date_posted|naturaltime }}</small>
            <br>
            {{ post.text }}
          </p>
        </div>
      </div>
   </article>
  {% endfor %}

</AmpContent>

<NonAmpContent>

  <article class="media">
    <div class="media-content">
      <div class="content has-text-centered">
        <p>There are no posts.</p>
      </div>
    </div>
  </article>

</NonAmpContent>
{% endblock %}
</body>
</html>